@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body {
    display: flex;
    justify-content: center; /* centraliza horizontal */
    align-items: center;     /* centraliza vertical */
    height: 100vh;           /* altura da viewport */
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background:
        linear-gradient(to right, #ffffff3c, #00000000 10%),
        url("../assets/fundo_home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (max-width: 600px) {
    body {
        background:
            linear-gradient(to right, #ffffff3c, #00000000 40%),
            url("../assets/fundo_home.jpg");
        background-size: cover;
        background-position: center center; /* Centraliza a imagem para que a parte azul também apareça */
        background-repeat: no-repeat;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}

#menu-sidebar {
  left: 0px !important; 
}

#menu-burger-label span {
    background: #2b6f69 !important;
}
