.card {
    background-color: #4F8105;
    max-width: 480px;
    width: 100%;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    word-wrap: break-word;
}

.card h1{
    font-size: 36px;
    color: #fff;
}

.card p{
    font-size: 24px;
    color: #fff;
}

.card a{
    text-decoration: none;
    background-color: #E8661A;
    font-size: 28px;
    color: #fff;
}

/* Contêiner de botões no card */
.btn-container {
    display: flex;
    justify-content: center;
    gap: 25px; /* Espaçamento entre os botões */
    margin-top: 15px; /* Espaçamento superior */
}

.containerCards .card .btn-saiba-mais{
    border: none;
    background-color: #E8661A;
    border-radius: 20px;
    padding:15px 19px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    transition: 0.2s;
}

.containerCards .card .btn-saiba-mais:hover{
    background-color: #a94a17;
}

/* animação da lixeira ---- From Uiverse.io by vinodjangid07*/ 
.bin-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: rgb(255, 95, 95);
    cursor: pointer;
    border: 2px solid rgb(255, 201, 201);
    transition-duration: 0.3s;
    position: relative;
    overflow: hidden;
  }
  .bin-bottom {
    width: 15px;
    z-index: 2;
  }
  .bin-top {
    width: 17px;
    transform-origin: right;
    transition-duration: 0.3s;
    z-index: 2;
  }
  .bin-button:hover .bin-top {
    transform: rotate(45deg);
  }
  .bin-button:hover {
    background-color: rgb(255, 0, 0);
  }
  .bin-button:active {
    transform: scale(0.9);
  }
  .garbage {
    position: absolute;
    width: 14px;
    height: auto;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
  }
  .bin-button:hover .garbage {
    animation: throw 0.4s linear;
  }
  @keyframes throw {
    from {
      transform: translate(-400%, -700%);
      opacity: 0;
    }
    to {
      transform: translate(0%, 0%);
      opacity: 1;
    }
  }

  /* animação da lixeira ---- From Uiverse.io by vinodjangid07*/ 

.card-empresa {
    background-color: #0386A7;
}

.card-outros{
    background-color: #B80355;
}

.card-universidade-escola {
    background-color: #002E3F;
}

.card-ong{
    background-color: #c0a314;
}

.card-pessoafisica{
    background-color: #4F8105;
}

.card-default{
    background-color: #313131;
}

@media (max-width: 900px){
    .filter-container{
        flex-direction: column;
        gap: 0;
    }

    .filter-button{
        padding: 40px;
    }

    .card{
        box-shadow: none;
    }

    .container{
        width: 100%;
    }

    .container .menu{
        padding: 30px 0;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        border-radius: 0;
        box-shadow: none;
    }
}
    
@media (max-width: 1919px){
    .containerCards{
        justify-content: center;
    }

}

@media (max-width: 480px){
    .card{
        max-width: 330px;
        width: 100%;
    }

    .card h1{
        font-size: 30px;
    }

    .card p{
        font-size: 18px;
    }
}